<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distributor Lifecycle Program - Login</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <style>
      body {
        /* background-color: #0d1a9b; */
        color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        /* background-image: url('../../public/images/Screenshot 2025-03-10 153330.png'); */
        overflow: hidden;
        background-size: 100% 80%;
        width: 100%;
        background-position: center;
        background-repeat: repeat-x;
      }

      .header {
        text-align: center;
        padding-top: 5px;
      }

      .center {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }

      .login-container {
        color: white;
        border: 2px solid #ffffffcc;
        border-radius: 2.5rem;
        width: 22rem;
        margin-top: -110px;
        margin-left: 100px;
        padding: 20px 38px 25px;
        background-color: rgba(255, 255, 255, 0.05);
      }

      .form-control:focus {
        box-shadow: none;
        border-color: white;
      }

      .form-control[readonly] {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #ebe5e5;
        color: black;
      }

      .btn-login {
        background-color: white;
        color: #00008b;
        font-weight: bold;
        border-radius: 1.5rem;
      }

      .auth-link {
        color: #ffd700;
        text-decoration: none;
        font-size: 0.9rem;
      }

      .auth-link:hover {
        text-decoration: underline;
        color: #ffd700;
      }

      .input-group-text {
        background-color: transparent;
        border: none;
        color: white;
      }

      /* CSS */
      .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        overflow: hidden;
        padding: 0px 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
      }

      .image-wrapper {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        white-space: nowrap;
        scroll-behavior: smooth;
      }

      #imageContainer::-webkit-scrollbar {
        display: none;
      }

      .col {
        flex: 0 0 auto;
        margin: 0 10px;
      }

      .col img {
        max-width: 100px;
        height: auto;
        display: block;
      }

      .form-control {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: white;
      }

      .form-control::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      .form-control:focus {
        background: transparent;
        color: white;
        border-color: white;
        outline: none;
        box-shadow: none;
      }

      .col-9 {
        position: relative;
        text-align: center;
      }

      .logo-img {
        width: 250px;
        height: auto;
        transition: all 0.3s ease-in-out;
        z-index: 9;
      }

      .logo-img1 {
        z-index: 1;
      }

      /* Text Overlay */
      .text-overlay {
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        z-index: 2;
      }

      @media (max-width: 1450px) {
        .header {
          padding-top: 15px;
        }

        .logo-img {
          width: 200px;
        }

        .text-overlay {
          font-size: 1.8rem;
        }

        .login-container {
          width: 22rem;
        }

        .footer {
          flex-wrap: wrap;
          gap: 10px;
        }

        .footer img {
          max-width: 80px;
        }
      }

      @media (max-width: 1170px) {
        .header {
          padding-top: 15px;
        }

        .logo-img {
          width: 170px;
        }

        .text-overlay {
          font-size: 1.5rem;
        }

        .login-container {
          width: 22rem;
        }

        .footer {
          flex-wrap: wrap;
          gap: 10px;
        }

        .footer img {
          max-width: 80px;
        }
      }

      @media (max-width: 992px) {
        .header {
          padding-top: 15px;
        }

        .logo-img {
          width: 120px;
        }

        .text-overlay {
          font-size: 1.5rem;
        }

        .login-container {
          width: 22rem;
        }

        .footer {
          flex-wrap: wrap;
          gap: 10px;
        }

        .footer img {
          max-width: 80px;
        }
      }

      @media (max-width: 768px) {
        .logo-img {
          width: 100px;
        }

        .text-overlay {
          font-size: 1.5rem;
        }

        .login-container {
          width: 20rem;
          padding: 1.5rem;
        }

        .background-image {
          object-fit: cover;
          height: 100%;
        }

        .footer {
          flex-wrap: wrap;
          justify-content: center;
        }

        .footer img {
          max-width: 70px;
        }
      }

      @media (max-width: 576px) {
        .header {
          padding-top: 10px;
        }

        .logo-img {
          width: 80px;
        }

        .text-overlay {
          font-size: 1.2rem;
        }

        .login-container {
          width: 18rem;
          padding: 1rem;
        }

        .footer img {
          max-width: 60px;
        }
      }
    </style>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .containers {
        display: flex;
        height: 90vh;
      }

      .left-panel {
        width: 50%;
        background-color: #00008b;
        color: white;
        padding: 40px;
        position: relative;
        border-top-right-radius: 50% 20%;
      }

      .logo {
        text-align: center;
        font-size: 50px;
        margin-bottom: 50px;
      }

      .login-box {
        background: none;
        border: 2px solid white;
        border-radius: 30px;
        padding: 30px;
        width: 60%;
        margin: auto;
        margin-top: 85px;
      }

      .login-box h2 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 15px;
      }

      .input-group {
        margin-bottom: 20px;
      }

      .input-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .input-group input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid white;
        background: transparent;
        color: white;
        font-size: 14px;
      }

      .input-group input:focus {
        outline: none;
      }

      .forgot-password {
        display: block;
        text-align: right;
        font-size: 12px;
        color: white;
        text-decoration: none;
        margin-bottom: 20px;
      }

      button {
        width: 100%;
        padding: 10px;
        background-color: white;
        color: #00008b;
        border: none;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
      }

      .right-panel {
        width: 50%;
        background: white;
        text-align: center;
        padding: 60px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .right-panel .india-logo {
        max-width: 260px;
        margin-bottom: 30px;
      }

      .right-panel h2 {
        color: #00008b;
        font-size: 42px;
        line-height: 1.4;
        font-weight: 800;
      }

      footer {
        background-color: white;
        padding: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
      }

      footer img {
        height: 30px;
      }
    </style>

    <style>
      .footer {
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
      }

      .image-wrapper {
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        pointer-events: none;
      }

      .col {
        flex: 0 0 auto;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .col img {
        height: 50px; /* adjust as needed */
        display: block;
      }
    </style>
  </head>

  <body>
    <div class="containers">
      <div class="left-panel">
        <h1 class="logo">
          <img
            src="../../public/images/mars-wrigley-logo-white.png"
            alt="mars-wrigley"
            class="india-logo"
          />
        </h1>

        <div class="login-box">
          <h2 style="font-weight: bold">User Log In</h2>
          <form class="text-center" id="loginForm">
            <div class="mb-3 text-start">
              <label for="email" class="form-label">
                <i class="fas fa-envelope me-2"></i>Email
              </label>
              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter your email"
                  required
                />
              </div>
            </div>

            <div class="mb-2 text-start">
              <label for="password" class="form-label">
                <i class="fas fa-lock me-2"></i>Password
              </label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                />
              </div>
            </div>

            <div class="mb-2 text-end">
              <a href="/account/create-password" class="auth-link">Create</a>
              <span class="auth-link"> / </span>
              <a href="/account/reset-password" class="auth-link"
                >Forgot Password</a
              >
            </div>
            <button type="submit" class="btn btn-login w-100">LOGIN</button>
          </form>
        </div>
      </div>
      <div class="right-panel">
        <img
          src="../../public/images/Big India Logo.png"
          alt="Big India Logo"
          class="india-logo"
        />
        <h2>DISTRIBUTOR<br />LIFECYCLE<br />PROGRAM</h2>
      </div>
    </div>

    <div class="footer">
      <div class="image-wrapper" id="imageContainer">
        <div class="col"><img src="../images/snickers.jpg" alt="img" /></div>
        <div class="col"><img src="../images/twix.jpg" alt="img" /></div>
        <div class="col"><img src="../images/doublemint.jpg" alt="img" /></div>
        <div class="col"><img src="../images/boomer.jpg" alt="img" /></div>
        <div class="col"><img src="../images/glaxy.jpg" alt="img" /></div>
        <div class="col"><img src="../images/orbit.jpg" alt="img" /></div>
        <div class="col"><img src="../images/mars.jpg" alt="img" /></div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    document
      .getElementById("loginForm")
      .addEventListener("submit", async function (event) {
        event.preventDefault();

        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;

        if (!email || !password) {
          Swal.fire({
            toast: true,
            position: "top-right",
            icon: "warning",
            title: "Please fill in all fields!",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
          });
          return;
        }

        try {
          let response = await fetch("/user-login", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ email, password }),
          });

          let result = await response.json();

          if (response.ok) {
            Swal.fire({
              toast: true,
              position: "top-right",
              icon: "success",
              title: result.message,
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true,
            });
            setTimeout(() => {
              if (result.isSuperAdmin) {
                window.location.href = "/SuperDashboard";
              } else {
                window.location.href = "/roleSelector";
              }
            }, 2000);
          } else {
            Swal.fire({
              toast: true,
              position: "top-right",
              icon: "error",
              title: result.message,
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
            });
          }
        } catch (error) {
          Swal.fire({
            toast: true,
            position: "top-right",
            icon: "error",
            title: "Something went wrong! Please try again.",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
          });
        }
      });
  </script>

  <script>
    window.onload = function () {
      const container = document.getElementById("imageContainer");
      const images = Array.from(container.querySelectorAll(".col"));
      let scrollSpeed = 1;

      // Clone the images to allow infinite loop
      for (let i = 0; i < 30; i++) {
        images.forEach((img) => {
          container.appendChild(img.cloneNode(true));
        });
      }

      function scrollImages() {
        container.scrollLeft += scrollSpeed;
        if (container.scrollLeft >= container.scrollWidth / 2) {
          container.scrollLeft = 0;
        }
        requestAnimationFrame(scrollImages);
      }

      scrollImages();
    };
  </script>

  <script>
    let notification = <%- JSON.stringify(notification || null) %>;

    if (notification) {
      Swal.fire({
        toast: true,
        position: "top-right",
        icon: notification.type || "info",
        title: notification.text,
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
      });
    }
  </script>
</html>
