<%- include("../shared/header.ejs") %>

<div class="main-panel distributors-details">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card p-3">
                    <div class="card-header">
                        <h4>Edit Channel</h4>
                    </div>
                    <div class="card-body">
                        <form action="/channel/updatechannel" method="POST">
                            <input type="hidden" name="id" value="<%= channel.id %>">
                            <div class="form-group">
                                <label for="channel_name">Channel Name</label>
                                <input type="text" class="form-control" id="channel_name" name="channel_name" value="<%= channel.channel_name %>" required>
                            </div>
                           
                            <button type="submit" class="btn btn-primary">Update Channel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../shared/footer.ejs') %>